<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cellihealth.shealth"
    version="0.0.2">

    <name>SHealth Tracking</name>
    <description>
        This plugin allows you to using samsung health tracking
      </description>

      <author>CelliHealth</author>

      <license>MIT</license>

      <keywords>SHealth, Samsung, Samsung Health</keywords>

      <repo>https://github.com/cellihealth/shealth-tracking</repo>


    <js-module src="www/shealth.js" name="Shealth">
        <clobbers target="Shealth" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Shealth">
                <param name="android-package" value="com.cellihealth.shealth.Shealth"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/cellihealth/shealth/Shealth.java" target-dir="src/com/cellihealth/shealth" />
        <source-file src="src/android/com/cellihealth/shealth/StepCountReporter.java" target-dir="src/com/cellihealth/shealth" />
    </platform>

</plugin>
