<?xml version='1.0' encoding='utf-8'?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com-cellihealth-plugins-sHealthTracking"
  version="0.0.1">
  <name>sHealthTracking</name>
  <description>
    This plugin allows you to using samsung health tracking
  </description>

  <author>CelliHealth</author>

  <license>MIT</license>

  <keywords>SHealth, Samsung, Samsung Health</keywords>

  <repo>https://github.com/cellihealth/shealth-tracking</repo>
  
  <js-module name="sHealthTracking" src="www/sHealthTracking.js">
      <clobbers target="sHealthTracking" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="sHealthTracking">
        <param
          name="android-package"
          value="com.cellihealth.plugins.sHealthTracking" />
      </feature>
    </config-file>
    <source-file src="src/android/com/cellihealth/plugin/Shealth.java" 
  target-dir="src/com/cellihealth/plugin" />
    <source-file src="src/android/com/cellihealth/plugin/StepCountReporter.java" 
    target-dir="src/com/cellihealth/plugin" />
  </platform>
</plugin>
